/* Fonts */
.bold {
    font-weight: 700;
}
.big-font {
    font-size: 40px
}
.sansserif {
    font-family: sans-serif;
}

/* Colours */
.blue {
    color: blue
}
.red {
    color: red
}
/* Anything both blue and red should be made purple */
.blue.red {
    color: purple
}
.cyan-back {
    background-color: cyan
}

/* Chaining and Grouping */
/* Decendants of the important tag that are
    sans serif are larger */
.important .sansserif {
    font-size: 60px
}
/* Decendants of the important tag that are
    in a <p> are made smaller */
.important p {
    font-size: 10px
}

/* Both h1 and h2 have their default bolding
    removed */
h1, h2 {
    font-weight: 1;
}